.navtitle{
    font-weight: 700;
    font-size: 2rem;
    margin: 5px;
}

.navbar{
    background-color: #131110;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    gap: 2rem ;
    color: white;
}

.navbar ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 3rem;
    font-size: 20px;
    margin-right: 10px;
}

.navbar li:hover{
    color: #478e13;
}

.navbar a{
    text-decoration: none;
    color: inherit;
}

.lg{
    color: #478e13;
}

.menu-toggle {
    display: none; /* Hide the menu toggle by default */
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navtitle {
        font-size: 1.5rem;
    }

    .navbar ul {
        display: none; /* Hide the menu by default on mobile */
        flex-direction: column;
        width: 100%;
        gap: 1rem;
        background-color: #131110;
        padding: 10px 0;
    }

    .navbar.show ul {
        display: flex; /* Show the menu when the navbar has the 'show' class */
    }

    .menu-toggle {
        display: block; /* Show the menu toggle in mobile view */
        cursor: pointer;
        font-size: 1.5rem;
        padding: 10px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
